# Exploratory Data Analysis Notebook

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
from ucimlrepo import fetch_ucirepo

## Importing Dataset

In [2]:
data = fetch_ucirepo(id=863)

In [3]:
print(data.variables)

          name     role         type demographic  \
0          Age  Feature      Integer         Age
1   SystolicBP  Feature      Integer        None
2  DiastolicBP  Feature      Integer        None
3           BS  Feature      Integer        None
4     BodyTemp  Feature      Integer        None
5    HeartRate  Feature      Integer        None
6    RiskLevel   Target  Categorical        None

                                         description   units missing_values
0    Any ages in years when a women during pregnant.    None             no
1  Upper value of Blood Pressure in mmHg, another...    None             no
2  Lower value of Blood Pressure in mmHg, another...    None             no
3  Blood glucose levels is in terms of a molar co...  mmol/L             no
4                                               None       F             no
5                        A normal resting heart rate     bpm             no
6  Predicted Risk Intensity Level during pregnanc...    None             no

In [4]:
X = data.data.features
y = data.data.targets
print(X.head())
print(y.head())

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate
0   25         130           80  15.0      98.0         86
1   35         140           90  13.0      98.0         70
2   29          90           70   8.0     100.0         80
3   30         140           85   7.0      98.0         70
4   35         120           60   6.1      98.0         76
   RiskLevel
0  high risk
1  high risk
2  high risk
3  high risk
4   low risk

In [5]:
data = pd.concat([X,y],axis=1)
data.sample(20)

     Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
567   23         120           80   7.5      98.0         70   low risk
159   25         100           90   7.5      98.0         76   low risk
485   60          90           65   7.9      98.0         77   low risk
261   19         120           75   6.9      98.0         66   low risk
476   15          76           49   7.9      98.0         77   low risk
931   22         100           65   7.5      98.0         70   low risk
679   35          85           60  11.0     102.0         86  high risk
725   29         130           70   6.7      98.0         78   mid risk
582   19         120           76   7.5      98.0         66   low risk
737   17         120           80   6.7     102.0         76   mid risk
87    16         100           70   6.9      98.0         80   mid risk
761   16          90           65   6.9      98.0         76   mid risk
455   35         120           60   6.1      98.0         76   low risk
309   60          90           65   6.9      98.0         77   low risk
990   19          90           65  11.0     101.0         70  high risk
399   25         120           80   7.8      98.0         66   low risk
307   35         100           70   6.9      98.0         60   low risk
491   23         120           90   7.9      98.0         70   mid risk
184   60         120           80   6.1      98.0         75   low risk
472   18         120           80   6.8     102.0         76   low risk

## Describing Dataset

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          1014 non-null   int64
 1   SystolicBP   1014 non-null   int64
 2   DiastolicBP  1014 non-null   int64
 3   BS           1014 non-null   float64
 4   BodyTemp     1014 non-null   float64
 5   HeartRate    1014 non-null   int64
 6   RiskLevel    1014 non-null   object
dtypes: float64(2), int64(4), object(1)
memory usage: 55.6+ KB

In [7]:
data.isna().sum()

Age            0
SystolicBP     0
DiastolicBP    0
BS             0
BodyTemp       0
HeartRate      0
RiskLevel      0
dtype: int64

In [8]:
data.describe()

,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate
count,1014.000000,1014.000000,1014.000000,1014.000000,1014.000000,1014.000000
mean,29.871795,113.198225,76.460552,8.725986,98.665089,74.301775
std,13.474386,18.403913,13.885796,3.293532,1.371384,8.088702
min,10.000000,70.000000,49.000000,6.000000,98.000000,7.000000
25%,19.000000,100.000000,65.000000,6.900000,98.000000,70.000000
50%,26.000000,120.000000,80.000000,7.500000,98.000000,76.000000
75%,39.000000,120.000000,90.000000,8.000000,98.000000,80.000000
max,70.000000,160.000000,100.000000,19.000000,103.000000,90.000000

In [9]:
data['RiskLevel'].unique()

array(['high risk', 'low risk', 'mid risk'], dtype=object)

## Analyzing & Visualizing Dataset

### Univariate Analysis

### Bivariate Analysis

### Multivariate Analysis